.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    /* Esto hace que te PERSIGA */
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #6d4c41;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    color: #555;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.nav-links button:hover {
    color: #f48fb1;
    background: #fff8f8;
    transform: translateY(-2px);
}

.lang-selector {
    display: flex;
    gap: 0.5rem;
}

.lang-selector button {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2rem;
    margin-left: 5px;
}

.lang-selector button:hover {
    background: #fdf5e6;
    transform: scale(1.1);
}